In [12]:
altitude = input("Enter altitude")
altitude = int(altitude)
if altitude > 5000:
  print("turn around")
elif altitude <5000 and altitude >1000:
  print("Bring down to 1000")
else:
  print("Safe to land")

Enter altitude500
Safe to land

In [15]:
import sympy 
for num in range(1,201):
  if sympy.isprime(num):
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

Prime number using for loop and range